<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/research.html">Research</a></li>
	        	<li><a href="/Publications.html">Publications</a></li>
        		<li><a href="/cv_19072018.pdf">CV</a></li>
        </ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:sturcoal@mail.ru">Email</a></li>
        		<li><a href="https://www.researchgate.net/profile/Sergei_Turanov">ResearchGate</a></li>
			<li><a href="https://scholar.google.ru/citations?hl=ru&user=hoT51wQAAAAJ">Google Scholar</a></li>
			<li><span id='badgeCont724948' style='width:26px'><script src='http://labs.researcherid.com/mashlets?el=badgeCont724948&mashlet=badge&showTitle=false&className=a&rid=C-5694-2014&size=small'></script></span></a></li>
			<li><a href="https://orcid.org/0000-0003-4829-9729" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">orcid.org/0000-0003-4829-9729</a></li>        	
		</ul>
		</footer>
	</body>
</html>
