<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/research.html">Research</a></li>
	        	<li><a href="/Publications.html">Publications</a></li>
        		<li><a href="/Tur_cv2.pdf">CV</a></li>
        </ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:sturcoal@mail.ru">Email</a></li>
        		<li><a href="https://www.researchgate.net/profile/Sergei_Turanov">ResearchGate</a></li>
			<li><a href="https://scholar.google.ru/citations?hl=ru&user=hoT51wQAAAAJ">Google Scholar</a></li>
			<li><span id='badgeCont869720' style='width:126px'><script src='http://labs.researcherid.com/mashlets?el=badgeCont869720&mashlet=badge&showTitle=false&className=a&rid=C-5694-2014'></script></span></a></li>
        	</ul>
		</footer>
	</body>
</html>
